<div class="container">
    <div>

    </div>
</div>
<div class="container p-4 mx-auto m-3">
    {{#if prod}}
    <table style="text-align: center;" class="table table-bordered">
        <thead class='thead-dark'>
            <tr>
                <th>
                    Produto
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    €/Unidade
                </th>
                <th>
                    Gaveta
                </th>
                <th>
                    Separador
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each prod}}
            <tr>
                <td>
                    {{p_name}}
                </td>
                <td>
                    {{quantity}}
                </td>
                <td>
                    {{cost_unit}} €
                </td>
                <td>
                    {{drawer}}
                </td>
                <td>
                    {{sep}}
                </td>
                <td>
                    <a href="/delete/{{id}}" class="btn btn-danger btn-sm" role="button">
                    DELETE
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <div class="container rounded mx-auto py-3 bg-dark text-white">
            <h1 style="text-align: center;">There aren't any products yet</h1>
        </div>
    {{/if}}
</div>
<div class="container mx-auto my-2">
    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#form" role="button">
        ADD
    </button>
    <div class="modal" id="form" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Product Information</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        &times
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" minlength="4" name="p_name" placeholder="Product" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" step="0.01" min="0" name="cost_unit" placeholder="€/Unit" class="form-control">
                        </div>
                        <button class="btn btn-primary btn-block">
                            ADD
                        </button>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
</div>