<div class="container-md p-4 mx-auto">
    {{#if prod}}
    <table style="text-align: center;" class="table table-responsive-md">
        <thead class='thead-dark'>
            <tr>
                <th scope="col">
                    Product
                </th>
                <th scope="col">
                    Quantity
                </th scope="col">
                <th scope="col">
                    €/Unit
                </th scope="col">
                <th scope="col">
                    Total
                </th>
                {{#if ../user.admin}}
                <th scope="col" colspan="2">
                    Settings
                </th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each prod}}
            <tr>
                <td>
                    {{p_name}}
                </td>
                <td>
                    {{quantity}}
                </td>
                <td>
                    {{cost_unit}} €
                </td>
                <td>
                    {{'(quantity * cost_unit)'}} €
                </td>
                {{#if ../user.admin}}
                <td class="nospacebutton">
                    <a href="/objlist/delete/{{id}}" class="btn btn-danger mx-0 px-2 btn-sm" role="button">
                    DELETE
                    </a>
                </td>
                <td class="nospacebutton">
                    <a href="/objlist/edit/{{id}}" class="btn btn-primary mx-0 px-2 btn-sm" role="button">
                    EDIT
                    </a>
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <div class="container-sm rounded mx-auto py-3 bg-dark text-white">
            <h1 style="text-align: center;">There aren't any products yet</h1>
        </div>
    {{/if}}
</div>
{{#if user.admin}}
<div class="container-sm m-2 mx-auto pb-5">
    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#formprod" role="button">
        ADD
    </button>
</div>
{{/if}}