<div class="container p-4 mx-auto m-3">
    {{#if prod}}
    <table style="text-align: center;" class="table table-bordered">
        <thead class='thead-dark'>
            <tr>
                <th>
                    Produto
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    €/Unidade
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each prod}}
            <tr>
                <td>
                    {{p_name}}
                </td>
                <td>
                    {{quantity}}
                </td>
                <td>
                    {{cost_unit}} €
                </td>
                <td>
                    {{'(quantity * cost_unit)'}} €
                </td>
                <td>
                    <a href="objlist/delete/{{id}}" class="btn btn-danger btn-sm" role="button">
                    DELETE
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <div class="container rounded mx-auto py-3 bg-dark text-white">
            <h1 style="text-align: center;">There aren't any products yet</h1>
        </div>
    {{/if}}
</div>
<div class="container mx-auto my-2">
    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#form" role="button">
        ADD
    </button>
    {{> addprod }}
</div>