<div class="container-sm m-2 mt-4 mx-auto">
    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#formreq" role="button">
        REQUEST
    </button>
</div>
<div class="container-lg p-4 mx-auto">
    {{#if listed}}
    <table style="text-align: center;" class="table table-bordered table-responsive-md">
        <thead class='thead-dark'>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Type
                </th>
                <th>
                    User
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each listed}}
            <tr>
                <td>
                    {{p_name}}
                </td>
                <td>
                    {{quantity}}
                </td>
                <td>
                    {{reqtype}}
                </td>
                <td>
                    {{username}}
                </td>
                <td>
                    {{timeago dat}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <div class="container-sm rounded mx-auto py-3 bg-dark text-white">
            <h1 style="text-align: center;">There aren't any requests yet</h1>
        </div>
    {{/if}}
</div>