<div class="container p-4 mx-auto m-3">
    {{#if listed}}
    <table style="text-align: center;" class="table table-bordered">
        <thead class='thead-dark'>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Type
                </th>
                <th>
                    User
                </th>
                <th>
                    Data
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each listed}}
            <tr>
                <td>
                    {{p_name}}
                </td>
                <td>
                    {{quantity}}
                </td>
                <td>
                    {{reqtype}}
                </td>
                <td>
                    {{username}}
                </td>
                <td>
                    {{timeago dat}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <div class="container rounded mx-auto py-3 bg-dark text-white">
            <h1 style="text-align: center;">There aren't any requests yet</h1>
        </div>
    {{/if}}
</div>
<div class="container mx-auto my-2">
    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#form" role="button">
        ADD
    </button>
    {{> addreq }}
</div>